.corpo{
    background-color: #FFFFFF;
    margin: 0;
    background-image: url('../img/fundo2.png');
}
#conteudo {
     background: rgba(255,255,255,0.1);
     background-size: 100%;
     display:block;
     padding:0 !important;
     margin:0;
}
.conteudo{
    background: rgba(255,255,255,0.1);
    height:400px;
}